<form method="POST" action="/collection/store">
    <div>
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name">

    </div>
    <div>
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" name="description">

    </div>
    <div>
        <label for="img">img</label>
        <input type="text" class="form-control" id="img" name="img">

    </div>
   
    <button type="submit">them</button>
</form>